@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply placeholder:text-gray-300 font-custom text-toodark font-bold border-none focus:ring-2 focus:ring-toodark
  }

  [type='checkbox'],
  [type='radio'] {
    @apply border-2 border-toodark text-red-500 focus:ring focus:ring-dark
  }
}

@layer components {
  .max-width {
    @apply max-w-4xl mx-auto
  }

  .min-height {
    @apply min-h-[calc(100vh-4rem)]
  }

  .center-div {
    @apply min-h-[calc(100vh-4rem)] items-center justify-center flex flex-col
  }

  .btn {
    @apply outline-none px-4 py-2 bg-toolite text-toodark hover:bg-lite hover:text-dark font-bold
  }
}